<div class="container-fluid limpiar fondonav ">

<form class="row" action="" method="POST">
    <div class="mb-2 col-2 "></div>
        <div class="mb-6 col-6 ">
          <label for="Ingrese el producto" class="form-label limpiar">
          <input type="search" name="buscar" class="form-control limpiar" id="exampleFormControlInput1" placeholder="Nombre del producto">

         </label>
        </div>
        <div class="mb-2 col-2 ">

             <button type= "submit" class="btn btn-danger limpiar" >Buscar</button> 
        </div>

        <div class="mb-2 col-2 "></div>
    </form>

</div>
