<div class="container-fluid fondonav "> 
{{> buscador}}
</div>
<h1>{{title}}</h1>
<p>Bienvenidos a <strong>Compra.me</strong> </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae doloribus aspernatur quaerat beatae enim? Rerum, cumque vel non, molestiae pariatur tenetur, debitis sit odio eaque quisquam impedit quia similique laboriosam?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugit repellat saepe aperiam corporis corrupti earum ipsam ea necessitatibus rerum blanditiis, eveniet similique laborum, vitae explicabo dolorum est voluptates dicta?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae amet, autem quos, porro rerum illum magnam ex nulla vero molestiae deleniti suscipit accusantium debitis. Necessitatibus velit est ratione numquam!</p>

